<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="TestOne">
        <classes>
            <class name="com.bridgelabz.selenium.test.excelreport.TestClassOne">
<!--                <methods>-->
<!--                    <include name="data_Driven_Demo_Method"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.bridgelabz.selenium.utility.TestNgListener"></listener>
    </listeners>
</suite>